@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: smooth fonts */
body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
}

textarea::-webkit-scrollbar {
  width: 6px;
}

textarea::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}